html {
  background-image:
  linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url('../images/golden-gate-bridge.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead {
  padding: 3em 0;
  text-align: center;
  background-color: #b2ebf2;
  background-image: url('../images/black-mamba.png');
}

.masthead li {
  display: inline-block;
  padding: 1em;
}

.masthead a {
  font-size: 1.2em;
  color: black;
}

.masthead-intro {
  font-family: "Gentium Book Basic", Georgia, serif;
  text-shadow: 1px 1px 1px DarkGray;
  margin-bottom: 0.1em;
}

.masthead-heading {
  margin:0;
  margin-top: -0.2em;
  font-family: "Source Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow:
  1px 0px 1px DarkGray, 0px 1px 1px DarkGray,
  2px 1px 1px DarkGray, 1px 2px 1px DarkGray,
  3px 2px 1px DarkGray, 2px 3px 1px DarkGray,
  4px 3px 1px DarkGray, 3px 4px 1px DarkGray,
  5px 4px 1px DarkGray, 4px 5px 1px DarkGray,
  6px 5px 1px DarkGray, 5px 6px 1px DarkGray,
  7px 6px 1px DarkGray;
}

h2 {
  color: #0097A7;
}

h3 {
  color: white;
}

.introduction-section,
.email-form,
.skill-section,
.questions-section {
  font-family: "Source Sans", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 DarkGray;
  text-align: left;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  color: #B2EBF2;
}

.projects{
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.social > li {
  display: inline-block;
}

.content-footer > p {
  color: white;
}

section {
  padding-bottom: 1em;
}

footer {
  background-image: url('../images/black-mamba.png');
  background-color: #B2EBF2;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: black;
}

body {
  /* Typography Declarations */

  color: #222222;
  font-size: 1em;
  font-family: "Source Sans", "Helvetica Neue", sans-serif;
}

.introduction > p,
.skill > p,
.content-footer > p {
  /* Typography Declarations */
  color: #212121;
  font-weight: 300;
  letter-spacing: 0.05em;
}

a {
  color: #03A9F4;
  text-decoration: none; /* no underline */
}

.social li {
  padding-right: 1em;
}

.projects {
  color: #B2EBF2;
  text-align: center;
}

#columns {
  -webkit-columns: 18em 2;
  -moz-columns: 18em 2;
  columns: 18em 2;
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  background: #0097A7;
  border: 2px solid #B6B6B6;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px; padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  column-break-inside: avoid;
  display: inline-block;
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #B6B6B6;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#answers {
  -webkit-columns: 18em 2;
  -moz-columns: 18em 2;
  columns: 18em 2;
}

#skills {
  -webkit-columns: 18em 2;
  -moz-columns: 18em 2;
  columns: 18em 2;
}

.email-form {
  width: 35em;
  text-align: center;
  padding-bottom: 5em;
}

/* Button Styles */
.btn {
  background-color:#B2EBF2;
  -moz-border-radius:6px;
  -webkit-border-6pxradius:6px;
  border-radius:6px;
  border:1px solid #212121;
  display:inlineine-block;
  cursor:pointer;
  color: #212121;
  font-family:Arial;
  font-shadowize:16px;
  padding:5px 16px;
  text-decoration:none;
  text-shadow:0px 1pxx 0px #2f6627;
}
.btn:hover {
  background-color:#48A1A7;
}
.btn:active {
  position:relative;
  top:1px;
}

.modal-box {
  display: none;
}

#profile-pic {
  background-image: url('../images/profile_pic.jpg');
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  float: left;
  margin-right: 1.2em;
  shape-outside: circle(50%);
}

.contact-message {
  display: block;
}

form {
  display: block;
  margin-top: 0em;
  background-color: #0097A7;
  padding: 1em;
}

.feedback-input {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  text-align: start;
  width: 100%;
}

.fa-user,
.fa-envelope,
.fa-penvil {
}

input:focus,
textarea:focus {
  background: #fff;
  box-shadow: 0;
  border: 0.1em solid #B2EBF2;
  color: #0097A7;
  outline: none;
}

@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }

  .masthead-heading {
    font-size: 3em;
  }

  .projects img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .content-footer > p {
    font-size: 0.8em;
  }

  .page-links {
    display: none;
  }

  .email-form {
    width: 25em;
    text-align: center;
    padding-bottom: 5em;
  }
}
